body, .sign-up-page {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Consolas, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.form__title {
    text-align: center;
}

.agreement {
    font-size: 12px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.message {
    text-align: center;
}

.link-container {
    text-align: center;
}