header {
    background-color: #3d4c8b;
    width: 300px;
    height: 100vh;
    color: white;
    display: grid;
    place-items: center;
}

.edit-link {
    position: absolute;
    bottom: 40px;
    left: 120px;
    color: white;
    font-size: 18px;
}

.edit-link:visited {
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info a, .info a:visited {
    color: white;
}